@model IEnumerable<AutopartsListItemViewModel>

@{
    this.ViewData["Title"] = "Search Result";
}


<h1 class="heading">Search Results</h1>

<br />

<partial name="_AutopartsListPartial" model="Model" />