@model AutopartsListViewModel

@{
    this.ViewData["Title"] = "All Autoparts";
}
<h1 class="heading">All Autoparts</h1>

<br />

<partial name="_AutopartsListPartial" model="Model.Autoparts" />

<partial name="_PaginationPartial" model="Model" />
