/* User Details */
.votes-container {
    margin-top: 10px;
}

.stroke {
    width: 1px;
    height: 50px;
    background-color: black;
}

.votes-value {
    font-size: 1.5rem;
    margin-left: 20px;
    margin-right: 20px;
}

.votes-negative-btn{
    color: red;
}

.votes-positive-btn {
    color: blue;
}

.user-details-sections-wrapper {
    padding-bottom: 75px;
}

.user-details-section {
    height: 80vh;
    margin: 0;
    padding: 0;
}

.user-details-section-items {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.user-details-section-btn-add-autopart {
    margin-top: 50px;
}

.add-comment-section {
    margin-top: 2%;
}

.comment-content {
    height: 10vh;
    resize: none;
}

/* Home Icon */
.home-icon {
    width: 45px;
    height: 45px;
}

/* Heading */
.heading {
    text-align: center;
    margin-bottom: 20px;
}

.blue-color {
    background-color: #003296;
}

/* Autoparts List */

.autoparts-list {
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

@media only screen and (max-width: 991px) {
    .autoparts-list {
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

/* Autopart Partial */

.autopart-partial-wrapper{
    max-height: 370px;
    margin: 5px;
}

.autopart-partial-title {
    max-width: 200px;
    font-size: 1em;
    max-height: 20px;
}

/* Autopart Details */

.favorite-icon {
    color: #c82333;
}

.autopart-details-right-section {
    margin: 20px 0 20px 0;
    background-color: #fafafa;
}
