@model MessageListItemViewModel

@{
    ViewData["Title"] = "Delete Autopart";
}

<h1 class="heading">Delete</h1>

<h3>Are you sure you want to delete message with topic "@Model.Topic" sent by @Model.SenderUserName?</h3>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="All">Back to List</a>
    </form>
</div>
