@model IEnumerable<AutopartsListItemViewModel>

@{
    this.ViewData["Title"] = "Favorites";
}

<h1 class="heading">Favorite Autoparts</h1>

<br />

<partial name="_AutopartsListPartial" model="Model" />