@model CommentListItemViewModel 

<div class="card w-100" style="margin:5px">
    <div class="card-body">
        <h5 class="card-title">@Model.CommentatorUsername</h5>
        <p class="card-subtitle">@Model.CreatedOn</p>
        <p class="card-text">@Model.Content</p>
    </div>
</div>