@{
    var itemTypes = new String[]
    {
        "Autopart Categories",
        "Autopart Conditions",
        "Car Manufacturers",
        "Car Models",
        "Car Types"
                    };
}

<div class="row">
    <div class="col-sm-6">
        <div class="card" width="50px">
            @foreach (var itemType in itemTypes)
            {
                <button class="selectItemBtn" value="@itemType">@itemType</button>
            }
        </div>
    </div>
    <div class="col-sm-6">
        <div id="itemsList" class="card" width="50px">

        </div>
        <div id="createForm">

        </div>
    </div>
</div>

@section Scripts
{

    <script src="~/js/administration/adminLib.js"></script>
    <script>
        function getToken() {
        var token = '@Html.AntiForgeryToken()';
        token = $(token).val();
        return token;
        }

        setupAdmin(getToken());
    </script>
}
