@using AutoPlace.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="w-100 d-xl-block" src="~/Images/home/home_superbanner.png" />
    <h1>Login now</h1>
</div>
