@{
    this.ViewData["Title"] = "Privacy Policy";
}

<br />

<h1>Privacy Policy for Autoplace</h1>

<br />

At Autoplace, accessible at <a href="https://autoplace.azurewebsites.net/">Autoplace</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by Autoplace and how we use it.

If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at <a href="https://autoplace.azurewebsites.net/">Autoplace</a>

This privacy policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in Autoplace. This policy is not applicable to any information collected offline or via channels other than this website.
<br />

<h1>Consent</h1>

<br />

By using our website, you hereby consent to our Privacy Policy and agree to its terms.

Information we collect

The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.

If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.

When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, and telephone number.

How we use your information

We use the information we collect in various ways, including to:
<ul>
    <li>Provide, operate, and maintain our website</li>
    <li>Improve, personalize, and expand our website</li>
    <li>Understand and analyze how you use our website</li>
    <li>Develop new products, services, features, and functionality</li>
    <li>
        Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates and other information relating to the website, and for marketing and promotional purposes
    </li>
    <li>
        Send you emails
    </li>
    <li>
        Find and prevent fraud
    </li>
</ul>

<br />

<h1>GDPR Privacy Policy (Data Protection Rights)</h1>

<br />

We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:

The right to access - You have the right to request copies of your personal data. We may charge you a small fee for this service.

The right to rectification - You have the right to request that we correct any information you believe is inaccurate. You also have the right to request that we complete the information you believe is incomplete.

The right to erasure - You have the right to request that we erase your personal data, under certain conditions.

The right to restrict processing - You have the right to request that we restrict the processing of your personal data, under certain conditions.

The right to object to processing - You have the right to object to our processing of your personal data, under certain conditions.

The right to data portability - You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.

If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us.

<br />
<h1>Cookies</h1>

<br />

Like any other website, Autoplace uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.



